@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 50vh;
    padding: 10rem;
}

.emojis {
    font-size: 42px;
}

.heading {
    font-family: "Jersey 10", sans-serif;
    font-size: 74px;
}

button {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 40px;
    border-radius: 8px;
    background-color: rgb(47, 144, 255);
    border: 1px solid black;
    color: white;
}

button:hover {
    background-color: rgb(87, 163, 250);
}